astroid==2.3.3
certifi==2019.9.11
chardet==3.0.4
idna==2.8
isort==4.3.21
joblib==0.14.0
lazy-object-proxy==1.4.3
mccabe==0.6.1
mwclient==0.10.0
mwparserfromhell==0.5.4
numpy==1.17.4
oauthlib==3.1.0
pkg-resources==0.0.0
pylint==2.4.4
PyMySQL==0.9.3
requests==2.22.0
requests-oauthlib==1.3.0
scikit-learn==0.22
scipy==1.3.3
six==1.13.0
toolforge==4.3.0
toposort==1.5
typed-ast==1.4.0
urllib3==1.26.5
wrapt==1.11.2
